<header id="content-header">
  <h1>New Review for <%= link_to(@movie.title, @movie) %></h1>
</header>

  <%= render "shared/errors", object: @review %>
<%= form_for([@movie, @review]) do |f| %>
<fieldset>
	<ol>
		<li class="required">
			<%= f.label :name %>
			<%= f.text_field :name, size: 40, autofocus: true %>
		</li>
		<li class="required stars">
		  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %> <%= star %>
    </span>
  <% end %>
		</li>
		<li class="required">
			<%= f.label :comment %>
			<%= f.text_area :comment, cols: 40, rows: 7 %>
		</li>
	</ol>
	<p>
		<%= link_to "Cancel", @movie, class: 'button' %>
		<%= f.submit 'Post Review' %>
	</p>
</fieldset>

<% end %>